<h1>Tasks of the weekend</h1>
<% @tasks.each do |task| %>
<li> <%= link_to task.title, task_path(task) %> </li>
 <%= link_to "delete", delete_path(task), method: :delete %>
<% end %>
<%= link_to "Add a new task", tasks_new_path %>

